# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directory
venv/
env/

# Ignore environment variables file
.env

# Ignore API keys or configuration files
config.json

# Ignore output files and logs
*.log
*.out
*.h5
*.ckpt
*.csv
*.db
*.sqlite

# Ignore data directories (if not essential to the project)
data/
datasets/